* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #c4d5e6 #eef7ff;
}

*::-webkit-scrollbar {
width: 8px;
}
.submenuItems::-webkit-scrollbar, .card-news-description::-webkit-scrollbar {
width: 5px;
}
*::-webkit-scrollbar-track {
background: var(--gray-100);
}
*::-webkit-scrollbar-thumb{
background: var(--gray-200);
border-radius: 10px;
}

@media (prefers-color-scheme: light) {
    :root {
        --white: #FFF;
    
        --gray-50: #F7F8FA;
        --gray-100: #E6E8EB;
        --gray-200: #AFB2B1;
        --gray-500: #808080;
        --gray-800: #494D4B;
    
        --green-500: #04D361;
        
        --purple-300: #9F75FF;
        --purple-400: #9a6fff; 
        --player: #8257E5;
        --purple-800: #6F48C9;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --white: #1f182e;
    
        --gray-50: #241e31;
        --gray-100: #3b334c;
        --gray-200: #6a5a8e;
        --gray-500: #808080;
        --gray-800: #fff;
    
        --green-500: #04D361;
        
        --purple-300: #7c5bc7;
        --purple-400: #6639ce; 
        --player: #482597;
        --purple-800: #6F48C9;
    }
}

@media (max-width: 1080px){
    html{
        font-size: 93.75%; // 15px
    }
}

@media (max-width: 720px){
    html{
        font-size: 87.5%; // 14px
    }
}

body {
    background: var(--gray-50);
}

body, input, textarea, button {
    font: 500 1rem Inter, sans-serif;
    color: var(--gray-800);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: Lexend, sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

button {
    cursor: pointer;
}