.toggleNone {
    transition: 0.2s ease;
    display: none !important;
}

.playerContainer {
    width: 26.5rem;
    min-height: 100vh;
    padding: 3rem 4rem;
    background: var(--player);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 1081px) {
        height: 100vh;
        position: sticky;
        top: 0;
    }

    @media (max-width: 1080px) {
        min-height: 110px;
        width: 100vw;
        padding: 1.25rem;
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        justify-content: flex-start;
    }
    @media (max-width: 480px) {
        flex-direction: column;
        max-height: 145px;
        min-height: auto;
    }

    .downButton {
        display: none;
        transition: 0.15s ease-in;

        .rotate {
            transform: rotate(180deg);
        }
        .restore {
            transform: rotate(0deg);
        }

        .checkbox {
            width: 24px;
            height: 24px;
            position: absolute;
            opacity: 0;
            z-index: 1;
        }

        @media (max-width: 480px) {
            display: block;
            position: absolute;
            right: 18px;
            background: transparent;
            border: none;
            z-index: 0;
        }
    }

    .logoPlayingNowRun {
        @media (max-width: 1080px) {
            display: none;
        }
    }

    .logoPlayingNowEmpty {
        @media (max-width: 480px) {
            display: none;
        }
    }

    header {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    strong {
        font-family: lexend, sans-serif;
        font-weight: 600;
    }

    footer {
        align-self: stretch;

        @media (max-width: 1080px) {
            width: 63vw;
            margin: auto;
        }

        @media (max-width: 480px) {
            width: 92vw;
            margin: auto;
        }

        &.empty .progress {
           opacity: 0.5;
        } 
    }
}

.currentEpisode {
    text-align: center;
    transition: ease 0.17s;

    @media (max-width: 1080px) {
        bottom: 0;
        display: flex;
        gap: 15px;
        align-items: center;
        margin-left: 20px;
    }

    @media (max-width: 480px) {
        margin-left: 0px;
    }

    div:first-child {
        @media (max-width: 1080px) {
            display: none !important;
        }
    }

    img {
        border-radius: 1.5rem;
        width: 85%;
        @media (max-width: 1080px) {
            width: 70px !important;
            min-width: auto !important;
            height: 60px !important;
        }
    }

    strong {
        display: block;
        margin-top: 2rem;
        font: 600 1.25rem Lexend, sans-serif;
        line-height: 1.75rem;

        @media (max-width: 1080px) {
            font: 400 1rem Lexend, sans-serif;
            text-align: left;
            margin-top: 0;
            max-width: 300px;
        }

        @media (max-width: 480px) {
            max-width: 90%;
            text-align: center;
        }
    }

    span {
        display: block;
        margin-top: 1rem;
        opacity: 0.6;
        line-height: 1.5rem;

        @media (max-width: 1080px) {
            display: none;
        }
    }

}

.emptyPlayer {
    width: 100%;
    height: 20rem;
    border: 2px dashed var(--purple-300);
    border-image-width: 10px;
    border-radius: 1.5rem;
    background: linear-gradient(145deg, var(--purple-400) 0%, rgba(0,0,0,0) 80%);
    padding: 4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1080px) {
        width: 4rem;
        height: 3rem;
        border-radius: 0.5rem;
        padding: 10px 0;
        margin-left: 15px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 480px) {
        border: none;
        background: none;
        padding: 0;
        margin-left: 0;
        height: 2rem;
    }

    strong {
        @media (max-width: 1080px) {
            position: absolute;
            font: 300 0.55rem Lexend, sans-serif;
            max-width: 80px;
        }

        @media (max-width: 480px) {
            max-width: 280px;
            font-size: 0.875rem;
        }
    }
}

.progress {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.875rem;
    margin-bottom: 0.8rem;

    span {
        display: inline-block;
        width: 4rem;
        text-align: center;
    }

    .slider {
        flex: 1;

        .emptySlider {
            width: 100%;
            height: 4px;
            background: var(--purple-300);
            border-radius: 2px;
        }
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    gap: 1.5rem;

    @media (max-width: 1080px) {
        margin-top: 0rem;
    }

    button {
        background: transparent;
        border: 0;
        font-size: 0;
        transition: filter 0.2s;

        img {
            @media (max-width: 1080px) {
                height: 1.25rem;
            }
        }

        &:disabled {
            cursor: default;
            opacity: 0.5;
        }

        &:hover:not(:disabled) {
            filter: brightness(0.7);
        }

        &.isActive {
            filter: invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);

            &:hover {
                filter: brightness(0.6) invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
            }
        }

        &.playButton {
            width: 4rem;
            height: 4rem;
            border-radius: 1rem;
            background: var(--purple-400);
            outline: none;

            @media (max-width: 1080px) {
                height: 2rem;
            }

            &:hover:not(:disabled) {
                filter: brightness(0.95);
            }
        }
    }
}
